<a href="https://colab.research.google.com/github/HeidiPang/Induction-to-computer/blob/main/0509.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("123")

123

In [ ]:
temp= float(input('Please input your temperature: '))
if temp >=37.5:
  print('Temperature too high!')
elif temp >=37 and temp <37.4:
  print('Temperature little bit high!')
elif temp >=34 and temp <=36.9:
  print('Temperature is normal!')
else:
  print('Temperature is wrong, Please try again!')

Please input your temp: 35
Temperature is normal!

In [ ]:
score = input ('Please input mark ')
if (int(score)>=90):
  print('A')
elif (int(score)>= 80):
  print('B')
elif (int(score) >= 70):
  print('C')
elif (int(score) >=60):
  print ('D')
else:
  print ('E')

Please input mark 89
B

In [ ]:
money = int(input('Please input purchase amount '))
if (money >=10000):
  if(money >=100000):
    print('20% discount', money*0.8, end = 'dollars\n')
  elif (money  >=50000):
    print('15% discount', money  *0.85, end = 'dolllars\n')
  elif (money >=30000):
    print('10% discount', money *0.9, end = 'dollars\n')
  else:
    print ('5% discount', money *0.95, end = 'dollars\n')
else:
  print('no discount', money, end = 'dollars\n')

Please input purchase amount 9000
no discount 9000dollars

In [24]:
month = int(input('Please input month : '))
if month >=3 and month <=5:
  print(month, 'is Spring!')
elif month>=6 and month<=8 :
  print(month, 'is Summer!')
elif month>=9 and month <=11 :
  print(month, 'is Autumn!')
elif month==12 or month <=2 :
  print(month, 'is Winter!')
else:
  print(month, 'is not in scope')

Please input month : 12
12 is Winter!

In [ ]:
income = int(input('Please input net income this year : '))
if income >= 2000000:
  print('Pay tax amount: ', income*0.3, end='dollars\n')
elif income >=1000000:
  print('Pay tax amount: ', income*0.21, end='dollars\n')
elif income >=600000:
  print('Pay tax amount: ', income*0.13, end='dollars\n')
elif income >=300000:
  print('Pay tax amount: ', income*0.06, end='dollars\n')
else:
  print('Pay tax amount: 0 dollars')

Please input net income this year : 350000
Pay tax amount:  21000.0dollars