<a href="https://colab.research.google.com/github/HeidiPang/Induction-to-computer/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('123')

123

In [ ]:
i = range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
a = range(3, 8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2, 4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c = range(3, 8, 1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
d = range(3, 8, 2)
print(list(d))

[3, 5, 7]

In [ ]:
e = range (8, 3, -1)
print(list(e))

[8, 7, 6, 5, 4]

In [ ]:
f = range (9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
g = range (1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h = range (1, 10, 2)
print(list(h))

[1, 3, 5, 7, 9]

In [ ]:
i = range (10, 1, -2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
  print(n)

0
1
2

In [ ]:
for n in range(10):
  print(n, end=',')

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for n in range(0,10, 2):
  print(n, end=',')

0,2,4,6,8,

In [ ]:
n = int(input('Please input a integer: '))
for n in range (1,n+1):
  print(n, end=' ')

Please input a integer: 5
1 2 3 4 5

In [ ]:
test = int(input('Please input a integer:'))
for m in range (1, test+1):
  print(m, end = ' ')

Please input a integer:12
1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
sum = 0 
for n in range(3):
  sum = sum+n
print(sum)

3

In [ ]:
sum = 0 
for n in range(10, 1, -2):
  sum = sum+n
print(sum)

30

In [ ]:
n = int(input('Please input a integer : '))
sum = 0
for n in range(1, 11):
  sum = sum+n
print(sum)

Please input a integer : 10
55

In [ ]:
num = int(input('Please input a integer : '))
sum = 0
for num in range (1, 51):
  sum = sum+num
print(sum)

Please input a integer : 55
1275

In [ ]:
n = int(input('Please input a integer : '))
sum = 0
for n in range (1, n+1):
  sum = sum+n
print(sum)

Please input a integer : 10
55

In [7]:
n = int(input('Please input a integer : '))
sum = 0
for n in range(1, n+1):
  sum = sum+n
print('The total of integer  from 1 to ',n,"is: ",sum)

Please input a integer : 8
The total of integer  from 1 to  8 is:  36