<a href="https://colab.research.google.com/github/HeidiPang/Induction-to-computer/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('123')

123

In [ ]:
i = range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
a = range(3, 8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2, 4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c = range(3, 8, 1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
d = range(3, 8, 2)
print(list(d))

[3, 5, 7]

In [ ]:
e = range (8, 3, -1)
print(list(e))

[8, 7, 6, 5, 4]

In [ ]:
f = range (9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
g = range (1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h = range (1, 10, 2)
print(list(h))

[1, 3, 5, 7, 9]

In [ ]:
i = range (10, 1, -2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
  print(n)

0
1
2

In [ ]:
for n in range(10):
  print(n, end=',')

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for n in range(0,10, 2):
  print(n, end=',')

0,2,4,6,8,

In [ ]:
n = int(input('Please input a integer: '))
for n in range (1,n+1):
  print(n, end=' ')

Please input a integer: 5
1 2 3 4 5

In [ ]:
test = int(input('Please input a integer:'))
for m in range (1, test+1):
  print(m, end = ' ')

Please input a integer:12
1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
sum = 0 
for n in range(3):
  sum = sum+n
print(sum)

3

In [ ]:
sum = 0 
for n in range(10, 1, -2):
  sum = sum+n
print(sum)

30

In [1]:
test = int(input('Please input a integer : '))
sum = 0
for n in range(1, test+1):
  sum = sum+n
print('1 to', test, 'integer total is',sum)

Please input a integer : 10
1 to 10 integer total is 55

In [2]:
sum = 0
test = int(input('Please input a integer : '))
for n in range (1, test+1):
  sum = sum+n
print('1 to', test, 'integer total is',sum)

Please input a integer : 50
1 to 50 integer total is 1275

In [4]:

sum = 0
test = int(input('Please input a integer '))
for m in range(1, test+1):
  sum = sum+m
  print("1 to",str(m),'integer total is', sum)

Please input a integer 50
1 to 1 integer total is 1
1 to 2 integer total is 3
1 to 3 integer total is 6
1 to 4 integer total is 10
1 to 5 integer total is 15
1 to 6 integer total is 21
1 to 7 integer total is 28
1 to 8 integer total is 36
1 to 9 integer total is 45
1 to 10 integer total is 55
1 to 11 integer total is 66
1 to 12 integer total is 78
1 to 13 integer total is 91
1 to 14 integer total is 105
1 to 15 integer total is 120
1 to 16 integer total is 136
1 to 17 integer total is 153
1 to 18 integer total is 171
1 to 19 integer total is 190
1 to 20 integer total is 210
1 to 21 integer total is 231
1 to 22 integer total is 253
1 to 23 integer total is 276
1 to 24 integer total is 300
1 to 25 integer total is 325
1 to 26 integer total is 351
1 to 27 integer total is 378
1 to 28 integer total is 406
1 to 29 integer total is 435
1 to 30 integer total is 465
1 to 31 integer total is 496
1 to 32 integer total is 528
1 to 33 integer total is 561
1 to 34 integer total is 595
1 to 35 integer total is 630
1 to 36 integer total is 666
1 to 37 integer total is 703
1 to 38 integer total is 741
1 to 39 integer total is 780
1 to 40 integer total is 820
1 to 41 integer total is 861
1 to 42 integer total is 903
1 to 43 integer total is 946
1 to 44 integer total is 990
1 to 45 integer total is 1035
1 to 46 integer total is 1081
1 to 47 integer total is 1128
1 to 48 integer total is 1176
1 to 49 integer total is 1225
1 to 50 integer total is 1275