<a href="https://colab.research.google.com/github/HeidiPang/Induction-to-computer/blob/main/0523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('123')

123

In [ ]:
sum = 0 
test = int(input('Please input a integer: '))
for n in range (1, test+1):
  sum = sum+n
print('1 to', test, "integer total is", sum)

Please input a integer: 10
1 to 10 integer total is 55

In [ ]:
sum = 0
test = int(input('Please input a integer: '))
for m in range(1, test+1):
  sum = sum+m
  print("1 to",str(m),"integer total is", sum)

Please input a integer: 50
1 to 1 integer total is 1
1 to 2 integer total is 3
1 to 3 integer total is 6
1 to 4 integer total is 10
1 to 5 integer total is 15
1 to 6 integer total is 21
1 to 7 integer total is 28
1 to 8 integer total is 36
1 to 9 integer total is 45
1 to 10 integer total is 55
1 to 11 integer total is 66
1 to 12 integer total is 78
1 to 13 integer total is 91
1 to 14 integer total is 105
1 to 15 integer total is 120
1 to 16 integer total is 136
1 to 17 integer total is 153
1 to 18 integer total is 171
1 to 19 integer total is 190
1 to 20 integer total is 210
1 to 21 integer total is 231
1 to 22 integer total is 253
1 to 23 integer total is 276
1 to 24 integer total is 300
1 to 25 integer total is 325
1 to 26 integer total is 351
1 to 27 integer total is 378
1 to 28 integer total is 406
1 to 29 integer total is 435
1 to 30 integer total is 465
1 to 31 integer total is 496
1 to 32 integer total is 528
1 to 33 integer total is 561
1 to 34 integer total is 595
1 to 35 integer total is 630
1 to 36 integer total is 666
1 to 37 integer total is 703
1 to 38 integer total is 741
1 to 39 integer total is 780
1 to 40 integer total is 820
1 to 41 integer total is 861
1 to 42 integer total is 903
1 to 43 integer total is 946
1 to 44 integer total is 990
1 to 45 integer total is 1035
1 to 46 integer total is 1081
1 to 47 integer total is 1128
1 to 48 integer total is 1176
1 to 49 integer total is 1225
1 to 50 integer total is 1275

In [ ]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [ ]:
for j in range(1,5+1):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [ ]:
for i in range(1,5):
  if(i==4):
     break
  print(i, end=" ")

1 2 3

In [ ]:
for i in range(1,5):
  if(i==4):
    continue
  print(i,end=" ")

1 2 3

In [ ]:
count = 0
for string in "JTLL!":
  count+=1
  if string == "L":
    break
  print(string)
  
print("loop ending!")
print("loop implement %d times" %count)

J
T
loop ending!
loop implement 3 times

In [ ]:
for i in range(2,10):
  for j in range (1,10):
    print(f'{i}*{j}={j*i}',end='\t')
  print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [12]:
x = int(input("Please input a number : "))
y = int(input("Please input a number : "))
if x > y :
  c = x
else:
  c = y
for k in range (2, c):
  if x % k == 0 and y % k == 0:
    print(k)

Please input a number : 4
Please input a number : 6
2

In [11]:
n = int(input('Please input a integer : '))
for m in range(1, n+1):
  if(m%5==0):
    print('', end=' ')
  else:
    print(m, end=' ')

Please input a integer : 12
1 2 3 4  6 7 8 9  11 12

In [8]:
n = int(input('Please input a integer : '))
for m in range(1, n+1):
  if(m%5==0):
    print(' ', end=' ')
  else:
    print(m, end=' ')

Please input a integer : 21
1 2 3 4   6 7 8 9   11 12 13 14   16 17 18 19   21