<a href="https://colab.research.google.com/github/HeidiPang/Induction-to-computer/blob/main/0530.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
i = 0
result = 0
while i <= 50:
    if i % 2 == 0:
        result +=i
    i+=1
print("0-50 the addition of even number total is %d" % result)

0-50 the addition of even number total is 650

In [4]:
i = 0
result = 0
while i <= 50:
    if i % 2 != 0:
        result +=i
    i+=1
print("0-50 the addition of odd number total is %d" % result)

0-50 the addition of odd number total is 625

In [6]:
n = int(input("Please input a positive integer : "))
for i in range (1, n+1):
  for j in range (i, n+1):
    print("*", end="")
  print()

Please input a positive integer : 10
**********
*********
********
*******
******
*****
****
***
**
*

In [7]:
sum = 0 
for i in range (0,101):
  if (i%3==0 or i%7==0):
    sum +=i
print("In value 1-100, sum of all multiples of 3 or 7 =", sum)

In value 1-100, sum of all multiples of 3 or 7 = 2208

In [8]:
p=1
counter=0
n = int(input("Please input a positive integer : "))
print(n, "factor have", end=" ")
while (p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print()
if(counter==2):
  print(n, "prime number")
else:
  print(n, "not prime number")

Please input a positive integer : 3
3 factor have 1 3
3 prime number

In [ ]:
print('123')

123

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    product = i*j
    print("%d*%d=%2d   " % (i, j, product), end="")
  print()

2*1= 2   2*2= 4   2*3= 6   2*4= 8   2*5=10   2*6=12   2*7=14   2*8=16   2*9=18
3*1= 3   3*2= 6   3*3= 9   3*4=12   3*5=15   3*6=18   3*7=21   3*8=24   3*9=27
4*1= 4   4*2= 8   4*3=12   4*4=16   4*5=20   4*6=24   4*7=28   4*8=32   4*9=36
5*1= 5   5*2=10   5*3=15   5*4=20   5*5=25   5*6=30   5*7=35   5*8=40   5*9=45
6*1= 6   6*2=12   6*3=18   6*4=24   6*5=30   6*6=36   6*7=42   6*8=48   6*9=54
7*1= 7   7*2=14   7*3=21   7*4=28   7*5=35   7*6=42   7*7=49   7*8=56   7*9=63
8*1= 8   8*2=16   8*3=24   8*4=32   8*5=40   8*6=48   8*7=56   8*8=64   8*9=72
9*1= 9   9*2=18   9*3=27   9*4=36   9*5=45   9*6=54   9*7=63   9*8=72   9*9=81

In [ ]:
a = int(input("Please input a value"))
b = int(input("Please input b value"))

maxno = a * b
for i in range (1, maxno+1):
  if(i % a == 0 and i % b == 0):
      break
print("%d and %d LCM = %d" %(a,b,i))

Please input a value4
Please input b value6
4 and 6 LCM = 12

In [ ]:
n = int(input('Please input a positive integer : '))
for i in range(1,n+1):
  if i % 5 == 0:
      continue
  print(i, end=" ")

Please input a positive integer : 21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21

In [ ]:
total = n = 0
while(n <= 10):
  total += n
  n += 1
print(total)

55

In [ ]:
total = n = 0
while n<= 10:
  total +=n
  n += 1
print(total)

55

In [ ]:
total = i = 1
c
while  i<=n:
  total *= i
  i+=1
print("%d!=%d"  %(n, total))

Please input a postive integer n value: 5
5!=120

In [ ]:
total = n = 0
while n<= 50:
  n=n+1
  if (n%2==0 ):
    total=total+n
print("The sum of all even number from 0 to 50 is : " ,total)

The sum of all even number from 0 to 50 is :  650

In [ ]:
row = int(input('Please input a positive integer : '))
b= 0
for i in range(row,0,-1):
  b += 1
  for j in range(1,i + 1):
    print("*",end=" ")
  print("\n")

Please input a positive integer : 9
* * * * * * * * *

* * * * * * * *

* * * * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
total = n = 0
while n<= 50:
  n=n+1
  if (n%2!=0 ):
    total=total+n
print("The sum of all odd number from 0 to 50 is : " ,total)

The sum of all even number from 0 to 50 is :  676

In [ ]:
num = int(input("Please input a number"))
ans = num
def print_factors(x):
  print(x, "factor have :")
  for i in range(1, x+1):
    if x % i == 0:
      print(i)
print_factors(num,)
if ans > 1:
  for i in range(2, int(ans/2)+1):
    if (ans % i) == 0:
      break
      print("It is not a prime number")
      
  else:
    print("It is a prime number")

else:
  print("It is not a prime number")

Please input a number12
12 factor have :
1
2
3
4
6
12

In [ ]:
a = 0
for n in range(1,100):
  if n%3==0 or n%7==0:
    a=a+n
print("In value 1-100, the sum of all multiples of 3 or 7 = 2208")

In value 1-100, the sum of all multiples of 3 or 7 = 2208

In [ ]:
for i in range(2,10):
  for j in range (1,10):
    product = i*j
    print("%d*%d=%2d    " %(i,j,product), end=" ")    
  print()

2*1= 2     2*2= 4     2*3= 6     2*4= 8     2*5=10     2*6=12     2*7=14     2*8=16     2*9=18
3*1= 3     3*2= 6     3*3= 9     3*4=12     3*5=15     3*6=18     3*7=21     3*8=24     3*9=27
4*1= 4     4*2= 8     4*3=12     4*4=16     4*5=20     4*6=24     4*7=28     4*8=32     4*9=36
5*1= 5     5*2=10     5*3=15     5*4=20     5*5=25     5*6=30     5*7=35     5*8=40     5*9=45
6*1= 6     6*2=12     6*3=18     6*4=24     6*5=30     6*6=36     6*7=42     6*8=48     6*9=54
7*1= 7     7*2=14     7*3=21     7*4=28     7*5=35     7*6=42     7*7=49     7*8=56     7*9=63
8*1= 8     8*2=16     8*3=24     8*4=32     8*5=40     8*6=48     8*7=56     8*8=64     8*9=72
9*1= 9     9*2=18     9*3=27     9*4=36     9*5=45     9*6=54     9*7=63     9*8=72     9*9=81