<a href="https://colab.research.google.com/github/HeidiPang/Induction-to-computer/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
scores = ["Chinese score: 85 marks", "Mathematics score : 79 marks", "English score : 93 marks"]
for i in range (len(scores)):
  print(scores[i])

Chinese score: 85 marks
Mathematics score : 79 marks
English score : 93 marks

In [20]:
scores = ["Number:1 Name:Tom", "Number:2 Name:Mary", "Number:3 Name:Tony"]
for i in range (len(scores)):
  print(scores[i])

Number:1 Name:Tom
Number:2 Name:Mary
Number:3 Name:Tony

In [ ]:
print('123')

123

In [ ]:
i = 0
result = 0
while i<=50:
  if i%2 == 0:
    result +=i
  i+=1
print("0-50 total even number %d" %result)

0-50 total even number 650

In [ ]:
i = 0
result = 0
while i<=50:
  if i%2 != 0: 
    result +=i
  i+=1
print("0-50 total odd number %d" %result)

0-50 total odd number 625

In [ ]:
n = int(input("Please input a postive integer: "))
for i in range (1, n+1):
  for j in range (i, n+1):
    print("*",end="")
  print()

Please input a postive integer: 10
**********
*********
********
*******
******
*****
****
***
**
*

In [3]:
sum = 0
for i in range(0,101):
  if (i%3==0 or i%7==0):
      sum +=i
print("In value 1-100, sum  of all multiples of 3 or 7 =", sum)

In value 1-100, sum  of all multiples of 3 or 7 = 2208

In [6]:
p=1
counter=0
n = int(input("Please input a positive integer : "))
print(n, "factor have", end=" ")
while(p<=n):
  if(n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print ()
if(counter==2):
  print(n, "is prime number")
else:
  print(n, "not a prime number")

Please input a positive integer : 3
3 factor have 1 3
3 is prime number

In [ ]:
list1 ={1,2,3,4,5}

In [ ]:
list1

{1, 2, 3, 4, 5}

In [ ]:
list2 = ["banana","apple","orange"]

In [ ]:
list2

['banana', 'apple', 'orange']

In [ ]:
list3 = (1,"banana",True)

In [ ]:
list3

(1, 'banana', True)

In [ ]:
print(list1)

{1, 2, 3, 4, 5}

In [13]:
list1 = [1,2,3,4,5]

In [14]:
print(list1)

[1, 2, 3, 4, 5]

In [17]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [ ]:
list4 = ["banana","apple","orange"]

In [ ]:
print(list4[1])

apple

In [ ]:
print(list4[0])
print(list4[1])
print(list4[2])

banana
apple
orange

In [ ]:
print(list4[3])

IndexError: ignored

In [ ]:
print(list4[-1])

orange

In [ ]:
print(list4[-2])

apple

In [ ]:
print(list4[-3])

banana

In [ ]:
print(list4[-4])

IndexError: ignored

In [ ]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [ ]:
print(list5[1])

['mary', 'abcd']

In [ ]:
print(list5[0])

[['tom', '1234']]

In [ ]:
print(list5[1][1])

abcd

In [ ]:
print(list5[0][0])

['tom', '1234']

In [ ]:
print(list5[0][0][0])

tom

In [ ]:
list6 = ["Chinese mark : 85", "Mathematics mark : 79", "English mark : 93"]

In [ ]:
print(list6[0])
print(list6[1])
print(list6[2])

Chinese mark : 85
Mathematics mark : 79
English mark : 93

In [ ]:
scores = [85,79,93]
print("Chinese score : %d mark" % scores[0])
print("Mathematics score: %d mark" % scores[1])
print("English score: %d mark" % scores[2])

Chinese score : 85 mark
Mathematics score: 79 mark
English score: 93 mark

In [ ]:
list6 = [1,2,3,4,5]

In [ ]:
print(list6[0])

1

In [ ]:
list6[0] =9

In [ ]:
print(list6[0])

9

In [ ]:
print(list6)

[9, 2, 3, 4, 5]

In [ ]:
list7 = ["banana","apple","orange"]

In [ ]:
for s in list7:
  print(s, end=",")

banana,apple,orange,

In [ ]:
list8 = ["123", "apple", True]

In [ ]:
for s in list8:
  print(s, end="\n")

123
apple
True

In [ ]:
items = [123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [ ]:
scores = [85,79,93]

In [ ]:
print(len(scores))

3

In [ ]:
scores = [85,79,93]
for i in range (len(scores)):
  print(scores[i])

85
79
93

In [ ]:
scores = ["Chinese score: 85 marks", "Mathematics score : 79 marks", "English score : 93 marks"]
for i in range (len(scores)):
  print(scores[i])

Chinese score: 85 marks
Mathematics score : 79 marks
English score : 93 marks